/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
  font-family: 'Star Jedi Special Edition';
  src: url('src/assets/STJEDISE.TTF') format('truetype');
} */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: rgb(17, 17, 17);
}

.favorite-button{
  border-radius: 30px;
  background-color: #ffff03;
  color: black;
  border: none;
}

.favorite-button:hover{
  background-color: rgb(255, 136, 0);
}

.deletation{
  border: none;
  background-color: transparent;
}





